.qd_top{
    height: 70px;overflow: hidden;
}

.qd_inner{
    width: 1200px;overflow:hidden;margin:0 auto;
}

.qd_logo{width: 120px;height: auto;float:left;
    /*background: url(../images/logo.png) no-repeat;
    background-size: 100% 100%;*/
}





















